<div class="space-y-6">
  <nav class="text-sm text-gray-500 mb-4">
    <a routerLink="/" class="hover:underline">Home</a>
    <span class="mx-2">›</span>
    <a routerLink="/about" class="hover:underline">About</a>
  </nav>
  <h1 class="text-3xl font-bold mb-4">About Ars Humana</h1>
  <div class="space-y-4 text-center p-6 pb-12">
    <div class="text-2xl font-semibold text-gray-900">
      I have nothing to say and I am saying it and that is poetry.
    </div>
    <div class="text-2xl text-gray-900">वक्तव्यं नास्ति मम — तद् एव वदामि — एषा कविता।</div>
    <div class="text-sm italic text-gray-900">
      Vaktavyaṁ nāsti mama — tad eva vadāmi — eṣā kavitā.
    </div>
    <div class="text-sm text-gray-500">- John Cage</div>
  </div>
  <p class="text-lg leading-relaxed">
    Ars Humana is a creative exploration of reality, combining data visualization, aesthetics, and
    metaphysics in an unbroken flow.
  </p>
  <p class="text-lg leading-relaxed mt-4">
    The aims to provide a platform for users to explore the intricate nature of high concepts, thier
    relationships different, symbolic representations, and their significance in understanding the
    nature of reality.
  </p>
  <p class="text-lg leading-relaxed mt-4">
    Technically - this project is built using Angular and D3.js to bring these ideas into an
    interactive digital form.
  </p>
  <p class="text-lg leading-relaxed mt-4">
    This project is conceived, designed, and developed by
    <a href="https://jeffreyradcliffe.com/" target="_blank" class="text-blue-500 hover:underline"
      >Jeffrey Radcliffe</a
    >.
  </p>
</div>
